* {
    /* outline: 1px solid tomato; */
}

@media(max-width:768px) {
    section {
        padding: 0 1.6rem;
    }
}

/* 헤더 */
.hd {
    position: fixed;
    z-index: 999;
}

.hd h1 {
    position: fixed;
    top: 4rem;
    left: 4rem;
    text-transform: uppercase;
    font-weight: 100;
}

.gnb {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    z-index: 999;
}

.gnb>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.gnb li a {
    position: relative;
    display: block;
    color: transparent;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
}

.gnb li.on a {
    width: 1.6rem;
    height: 1.6rem;
    background: var(--primary-color);
}

@media(max-width:768px) {
    .hd {
        top: 0;
        left: 0;
        right: 0;
        height: 6rem;
        background: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    .hd h1 {
        display: none;
        font-size: 2rem;
        line-height: 2.4rem;
    }

    .hd.on h1 {
        display: block;
        top: 2rem;
        left: 1.6rem;
    }

    .hd.on {
        border: none;
    }

    .gnb {
        top: 2rem;
        bottom: unset;
        left: 2.4rem;
        right: unset;
    }

    .gnb li {
        position: absolute;
    }

    .gnb li>a {
        display: none;
        width: unset;
        height: unset;
        border-radius: unset;
        font-size: 2rem;
        line-height: 2.4rem;
        background: none;
    }

    .gnb li.on>a {
        display: block;
        font-weight: 100;
        color: var(--white-color);
        background: none;
    }


}








/* 섹션 인트로 */
.intro {
    position: relative;
    overflow: hidden;
}

.intro::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    height: 1px;
    background: rgba(255, 255, 255, 0.05);
}

.intro .inner {
    position: relative;
}

.intro .tit {
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);

    text-align: center;
    outline: none;
}

.intro .tit h2 {
    margin: 0 0 2.4rem 0;
    font-size: 6.4rem;
    line-height: 6.4rem;
    font-weight: 100;
    font-family: "Noto Serif";
    color: var(--white-color);

    white-space: nowrap;
}

.intro .tit p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 200;
    outline: none;
}

.intro .cicle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: transparent;
    z-index: 9;
    filter: url('#goo');
    animation: cic 20s infinite ease-in-out;
}

@keyframes cic {
    0% {}

    100% {
        transform: translate(-50%, -50%) rotate(720deg);
    }
}

.intro .cicle::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    background: linear-gradient(to left, var(--left-color), var(--primary-color));

    transform: translate(-50%, 0);

    animation: before 10s infinite ease-in-out;
}

@keyframes before {
    0% {
        top: 0px;
    }

    50% {
        top: 100px;

    }

    100% {
        top: 0px;

    }
}

.intro .cicle::after {
    content: '';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    background: linear-gradient(to right, var(--left-color), var(--primary-color));

    transform: translate(-50%, 0);
    animation: after 10s infinite ease-in-out;

}


@keyframes after {
    0% {
        bottom: 0px;

    }

    50% {
        bottom: 100px;

    }

    100% {
        bottom: 0px;
    }
}


/* intro 반응형 */


@media(max-width:768px) {
    .intro::before {
        display: none;
    }

    .intro .cicle::after {
        width: 32rem;
        height: 32rem;
        animation: after768 10s infinite ease-in-out;
    }

    .intro .cicle::before {
        width: 32rem;
        height: 32rem;
        animation: before768 10s infinite ease-in-out;
    }

    @keyframes before768 {
        0% {
            top: 30px;
        }

        50% {
            top: 100px;

        }

        100% {
            top: 30px;

        }
    }

    @keyframes after768 {
        0% {
            bottom: 30px;

        }

        50% {
            bottom: 100px;

        }

        100% {
            bottom: 30px;
        }
    }
}

@media(max-width:600px) {
    .intro .tit h2 {
        font-size: 3.2rem;
        line-height: 3.2rem;
    }

    .intro .tit p {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }

    .intro .cicle::after {
        width: 20rem;
        height: 20rem;
    }

    .intro .cicle::before {
        width: 20rem;
        height: 20rem;
    }
}







/* 프로젝트 */

.pt {
    position: relative;
}

.pt::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.85);
}

.PROJECT01 {
    background: url(../images/ptbg01.jpg)no-repeat center center/cover;
}

.PROJECT02 {
    background: url(../images/ptbg02.jpg)no-repeat center center/cover;
}

.PROJECT03 {
    background: url(../images/ptbg03.jpg)no-repeat top center/cover;
}

.PROJECT04 {
    background: url(../images/ptbg04.jpg)no-repeat top center/cover;
}

.pt .inner {
    position: relative;
}

.pt .itm {
    display: flex;
    align-items: center;
    z-index: 999;
    gap: 6rem;
    height: 100vh;
}

.pt .itm .txt_box {
    min-width: 33rem;
}

.pt .itm .txt_box .tit {
    margin: 0 0 3.2rem 0;
}

.pt .itm .txt_box .tit h2 {
    margin: 0 0 1.6rem 0;
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: 700;
    text-indent: -4px;

    white-space: nowrap;
}

.pt .itm .txt_box .tit p {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.pt .itm .txt_box .pt_info {
    margin: 0 0 3.2rem 0;
}

.pt .itm .txt_box .pt_info>ul {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.pt .itm .txt_box .pt_info>ul>li {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 500;
}

.pt .itm .txt_box .pt_info>ul>li>span {
    display: inline-block;
    margin: 0 0 0 1.2rem;
    font-size: 1.4rem;
    font-weight: 300;
}

.pt .itm .txt_box .pt_link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.pt .itm .txt_box .pt_link>a {
    text-align: center;
}

.pt .itm .txt_box .pt_link a {
    display: block;
    padding: 8px 24px;
    border-radius: 4px;
    color: var(--white-color);
    background: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
}

.pt .itm .mokup {
    position: relative;
    width: 56vw;
    height: 56vh;
    border-radius: 1.6rem;
}

.pt .itm .mokup .case {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1.6rem;
    overflow: hidden;
}

.pt .itm01 .mokup .case {
    background: url(../images/pt01.jpg)no-repeat top center/cover;
}

.pt .itm01 .mokup .case:hover {
    transition: 5s linear;
    background: url(../images/pt01.jpg)no-repeat bottom center/cover;
}

.pt .itm02 .mokup .case {
    background: url(../images/pt02.jpg)no-repeat top center/cover;
}

.pt .itm02 .mokup .case:hover {
    transition: 8s linear;
    background: url(../images/pt02.jpg)no-repeat bottom center/cover;
}

.pt .itm03 .mokup .case {
    border: 1px solid #222;

    background: url(../images/pt03.jpg)no-repeat top center/cover;
}

.pt .itm03 .mokup .case:hover {
    transition: 5s linear;
    background: url(../images/pt03.jpg)no-repeat bottom center/cover;
}

.pt .itm04 .mokup .case {
    background: url(../images/pt04.jpg)no-repeat top center/cover;
}

.pt .itm04 .mokup .case:hover {
    transition: 5s linear;
    background: url(../images/pt04.jpg)no-repeat bottom center/cover;
}

/* 애니메이션 */

.pt .itm .txt_box {
    opacity: 0;
    transform: translate(-100%, 0);
}

.pt.active .itm .txt_box {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 0.5s;
}

.pt .itm .mokup {
    opacity: 0;
    transform: translate(30%, 0);
}

.pt.active .itm .mokup {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.5s 0.8s;
}



@media(max-width:768px) {
    .pt .itm {
        flex-direction: column;
        align-items: baseline;
        gap: 1.6rem;
        height: auto;
    }

    .pt .itm .txt_box {
        order: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 1.6rem;
    }

    .pt .itm .txt_box .tit {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        margin: 0;
    }

    .pt .itm .txt_box .tit h2 {
        font-size: 3.2rem;
        line-height: 3.2rem;
        margin: 0;
        text-indent: 0;
    }

    .pt .itm .txt_box .pt_info {
        margin: 0;
    }

    .pt .itm .txt_box .pt_info>ul {
        gap: 8px;
    }

    .pt .itm.txt_box .pt_info>ul>li>a {
        font-size: 1.6rem;
    }

    .pt .itm .txt_box .pt_info>ul>li>span {
        font-size: 1.2rem;
    }

    .pt .itm .txt_box .pt_link {
        grid-column: 1 / 3;
    }

    .pt .itm .mokup {
        width: 100%;
        height: 40vh;
    }

    .pt .itm .txt_box {
        opacity: 0;
        transform: translate(0, 0);
    }

    .pt.active .itm .txt_box {
        opacity: 1;
        transform: translate(0, 0);
        transition: 0.5s 0.8s;
    }

    .pt .itm .mokup {
        opacity: 0;
        transform: translate(0, 0);
    }

    .pt.active .itm .mokup {
        opacity: 1;
        transform: translate(0, 0);
        transition: 0.5s 0.8s;
    }

}

@media(max-width:600px) {
    .pt .itm .mokup {
        height: 30vh;
    }

    .pt .itm .txt_box {
        display: flex;
        flex-direction: column;
    }
}




/* 트레이닝 */

.tr .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tr .tit {
    max-width: 144rem;
    margin: 0 auto 4rem auto;
}

.tr .tit h2 {
    font-size: 5.6rem;
    line-height: 5.6rem;
    font-weight: 700;
}

.tr .tr_box {
    display: flex;
    gap: 3.2rem;
}

.tr .tr_box .itm img {
    border-radius: 1.6rem;
}

.tr .tr_box .itm .txt {
    margin: 2.4rem 0 0 0;
    text-align: center;
}

.tr .tr_box .itm .txt strong {
    font-size: 2rem;
    line-height: 2.4rem;
}

/* 애니메이션 */

.tr .tit {
    transform: translate(0, 16rem);
}

.tr.active .tit {
    transform: translate(0, 0);
    transition: 0.5s 0.8s;
}

.tr .tr_box .itm {
    opacity: 0;
}

.tr.active .tr_box .itm {
    opacity: 1;
    transition: 1s 0.8s;
}

@media(max-width: 768px) {
    .tr .tit h2 {
        display: none;
    }

    .tr .tr_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
    }

    .tr .tr_box .itm:nth-child(1) {
        grid-column: 1 / 3;
    }

    .tr .tr_box .itm .txt {
        margin: 8px 0 0 0;
    }

    .tr .tr_box .itm .txt strong {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }

    .tr .tr_box .itm {
        opacity: 1;
    }

    .tr.active .tr_box .itm {
        opacity: 1;
        transition: 0;
    }
}






/* 프로필 */

.profile {
    position: relative;
    overflow: hidden;
}

.profile .inner {
    position: relative;
}

.profile .inner .pro_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64rem;
    height: 32rem;

    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;

    border: 1px solid #bbb;
}

.profile .inner .pro_box>ul:nth-child(1)>li {
    color: #bbb;
    text-transform: uppercase;
}

.profile .inner .pro_box>ul>li {
    font-size: 1.8rem;
    line-height: 4rem;
}

.profile .copy {
    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translate(-50%, 0);

    text-align: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

@media(max-width:768px) {
    .profile .inner {
        align-items: center;
    }

    .profile .inner .pro_box {
        position: static;
        transform: translate(0, 0);
        margin: 0 0 4rem 0;
    }

    .profile .copy {
        position: static;
        transform: translate(0, 0);
    }
}

@media(max-width:680px) {
    .profile .inner .pro_box {
        width: 100%;
        height: 24rem;
    }

    .profile .inner .pro_box>ul>li {
        font-size: 1.4rem;
        line-height: 3.2rem;
    }
}




/* 메뉴 커버 */
.cover {
    position: fixed;
    inset: 50% 50% 50% 50%;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    transition: 0.5s;
}

.cover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: var(--background-color);
    border-radius: 50%;
    transition: 0.5s;
}

.cover.on::before {
    border-radius: 0;
    transform: translate(-50%, -50%);
}

.cover.on {
    inset: 0 0 0 0;
}

.cover a {
    position: relative;
    z-index: 2;
    display: block;
    padding: 2rem;
    font-size: 2.4rem;
    font-weight: 100;
    color: var(--line-color);
}

.cover strong {
    position: relative;
    z-index: 2;
}

.cover a::before {
    content: '';
    z-index: 1;
    position: absolute;
    bottom: 16px;
    left: 0;
    display: inline-block;
    width: 24px;
    height: 16px;
    background: var(--primary-color);
    transform: skew(40deg);
    transition: width 0.4s, background-color 0.4s;

    opacity: 0;
}

.cover a:hover::before {
    width: 100%;
    opacity: 1;
}

.cover .lnb {
    position: relative;
}


/* 메뉴 */
.menu {
    position: fixed;
    z-index: 2000;
    top: 4rem;
    right: 4rem;
}

.menu.on {
    z-index: 2000;
}

.menu .btn {
    color: var(--white-color);
    font-size: 0;
}

.menu .btn::before {
    content: "";
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background: url(../images/menu.svg) no-repeat center center;
}

.menu.on .btn::before {
    background: url(../images/x.svg) no-repeat center center;
}

@media(max-width:768px) {
    .menu {
        top: 2rem;
        right: 1.6rem;
    }
}